{% extends 'base.html.twig' %}
{% block content %}
<div class="row header center" style="border-bottom:2px solid #004A67">
	<h3 style="color: #004A67">
		Menú principal
	</h3>
</div>
<div class="container">
	<div class="container username-container">
		<div class="row end">
			{% if foreingUser %}
				<p class="username">{{ foreingUser.getNombreCompleto() | upper }}</p>
			{% else %}
				<p class="username"> No sé quien eres. </p>
			{% endif %}
		</div>
	</div>
	<div class="container">
		<div class="row action">
			<div class="col-10 action-description">
				<h4>Consultar Notas</h4>
				<p class="action-text">Consulta tus notas definitivas por periodo.</p>
			</div>
			<a class="col-2 middle center more" href="{{ path('notas') }}">
				<span>
					>			
				</span>
			</a>
		</div>
		<div class="row action">
			<div class="col-10 action-description">
				<h4>Mensajes <span class="badge-label">{{ numero_mensajes }}</span></h4>
				<p class="action-text">Revisa mensajes enviados por tus docentes.</p>
			</div>
			<a class="col-2 middle center more" href="{{ path('mensajes') }}">
				<span>
					>			
				</span>
			</a>
		</div>

	</div>
</div>
{% endblock %}