// estilos 
@import "nib"
@import "nib/vendor"
vendor-prefixes = webkit ms moz o oficial
@import "normalize.styl"
@import "reticula.styl"

body
	background-color white
	font-size 20px
	
figure
	margin 1em

h2, h3, h4
	margin 5px

input
	width 100%

select
	width 100%

button
	width 100%

.header
	margin-bottom 10px
	background-color #D1F0FC
	color #004A67
	border-bottom 2px solid #004A67

.search
	background-color white

.colegio
	height 100%
	border-bottom 2px solid gainsboro
	text-decoration none
	color gray
	&:hover
		background-color #EAE9E9

.errors
	color red
	font-style italic
	
.form-group
	padding 5px


.action
		margin-bottom 10px
	.more
		display flex
		background-color #D2D2D2
		border-bottom 4px solid #9A9999
		text-decoration none
		color black
		&:hover
			border-bottom 0px 

.action-description
	background-color #E8E8E8
	padding 4px
		
.action-text
	font-size 18px
	margin 0
	
.atras
	color black
	text-decoration none

.separator-bottom
	margin-bottom 15px

.table	
	width 100%
	font-size 18px
	td
		padding-bottom 15px
		border-top 1px solid #dadada
		padding-top 15px
		padding-right 15px
	th
		padding 5px
	thead
		background-color #00B656
		color #0A3A21
		border-bottom 2px solid #0a3a21
							
.username
	background-color #00B656
	border-bottom 2px solid #063511
	color #FFFFFF
	margin 0
	margin-bottom 10px
	padding 2px 2px 0px 16px

.badge-label
	display inline-block
	min-width 10px
	padding 3px 7px
	font-size 18px
	font-weight 700
	line-height 1
	color #fff
	text-align center
	white-space nowrap
	vertical-align middle
	background-color #FF5E00
	border-radius 10px

.mensaje-content
	width 100%
	padding 5px
	background-color rgba(220, 220, 220, 0.43)
	border 2px solid gainsboro
	margin-bottom 15px

.mensaje-description
	margin-bottom 20px
	p
		margin 0
		font-size 18px

.mensaje-emisor
	font-size 16px
	color gray

.mensaje-fecha
	font-size 16px
	color gray